<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="purchaseInvoice">
            <h2><span>Purchase Invoice</span> {{purchaseInvoice.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Invoice Date</span></dt>
                <dd>
                    <span>{{purchaseInvoice.invoiceDate}}</span>
                </dd>
                <dt><span>Amount</span></dt>
                <dd>
                    <span>{{purchaseInvoice.amount}}</span>
                </dd>
                <dt><span>Discount</span></dt>
                <dd>
                    <span>{{purchaseInvoice.discount}}</span>
                </dd>
                <dt><span>Supplier</span></dt>
                <dd>
                    <div *ngIf="purchaseInvoice.supplier">
                        <a [routerLink]="['/supplier', purchaseInvoice.supplier?.id, 'view']">{{purchaseInvoice.supplier?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/purchase-invoice', purchaseInvoice.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
