<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-sale-invoice-payment-heading">Create or edit a Sale Invoice Payment</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!saleInvoicePayment.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="saleInvoicePayment.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_paymentDate">Payment Date</label>
                    <div class="d-flex">
                        <input id="field_paymentDate" type="datetime-local" class="form-control" name="paymentDate" [(ngModel)]="paymentDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                        [(ngModel)]="saleInvoicePayment.amount" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_saleInvoice">Sale Invoice</label>
                    <select class="form-control" id="field_saleInvoice" name="saleInvoice" [(ngModel)]="saleInvoicePayment.saleInvoice" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="saleInvoiceOption.id === saleInvoicePayment.saleInvoice?.id ? saleInvoicePayment.saleInvoice : saleInvoiceOption" *ngFor="let saleInvoiceOption of saleinvoices; trackBy: trackSaleInvoiceById">{{saleInvoiceOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_paymentMethod">Payment Method</label>
                    <select class="form-control" id="field_paymentMethod" name="paymentMethod" [(ngModel)]="saleInvoicePayment.paymentMethod" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="paymentMethodOption.id === saleInvoicePayment.paymentMethod?.id ? saleInvoicePayment.paymentMethod : paymentMethodOption" *ngFor="let paymentMethodOption of paymentmethods; trackBy: trackPaymentMethodById">{{paymentMethodOption.code}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
