<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="item">
            <h2><span>Item</span> {{item.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{item.code}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{item.name}}</span>
                </dd>
                <dt><span>Model</span></dt>
                <dd>
                    <span>{{item.model}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{item.description}}</span>
                </dd>
                <dt><span>Re Order Level</span></dt>
                <dd>
                    <span>{{item.reOrderLevel}}</span>
                </dd>
                <dt><span>Default Price</span></dt>
                <dd>
                    <span>{{item.defaultPrice}}</span>
                </dd>
                <dt><span>Brand</span></dt>
                <dd>
                    <div *ngIf="item.brand">
                        <a [routerLink]="['/brand', item.brand?.id, 'view']">{{item.brand?.name}}</a>
                    </div>
                </dd>
                <dt><span>Category</span></dt>
                <dd>
                    <div *ngIf="item.category">
                        <a [routerLink]="['/category', item.category?.id, 'view']">{{item.category?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/item', item.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
