<div>
    <h2 id="page-heading">
        <span>Quotation Items</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-quotation-item" [routerLink]="['/quotation-item/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Quotation Item
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="quotationItems">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sellingPrice"><span>Selling Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="discount"><span>Discount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="quantity"><span>Quantity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="quotation.id"><span>Quotation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="purchaseInvoiceItem.id"><span>Purchase Invoice Item</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let quotationItem of quotationItems ;trackBy: trackId">
                <td><a [routerLink]="['/quotation-item', quotationItem.id, 'view' ]">{{quotationItem.id}}</a></td>
                <td>{{quotationItem.sellingPrice}}</td>
                <td>{{quotationItem.discount}}</td>
                <td>{{quotationItem.quantity}}</td>
                <td>
                    <div *ngIf="quotationItem.quotation">
                        <a [routerLink]="['../quotation', quotationItem.quotation?.id, 'view' ]" >{{quotationItem.quotation?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="quotationItem.purchaseInvoiceItem">
                        <a [routerLink]="['../purchase-invoice-item', quotationItem.purchaseInvoiceItem?.id, 'view' ]" >{{quotationItem.purchaseInvoiceItem?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/quotation-item', quotationItem.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/quotation-item', quotationItem.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'quotation-item/'+ quotationItem.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="quotationItems && quotationItems.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
