<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="quotation">
            <h2><span>Quotation</span> {{quotation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Quotation Date</span></dt>
                <dd>
                    <span>{{quotation.quotationDate}}</span>
                </dd>
                <dt><span>Amount</span></dt>
                <dd>
                    <span>{{quotation.amount}}</span>
                </dd>
                <dt><span>Discount</span></dt>
                <dd>
                    <span>{{quotation.discount}}</span>
                </dd>
                <dt><span>Customer</span></dt>
                <dd>
                    <div *ngIf="quotation.customer">
                        <a [routerLink]="['/customer', quotation.customer?.id, 'view']">{{quotation.customer?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/quotation', quotation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
